span {
  &.task_content_item {
    font-size: 14px;
    border-bottom: 1px solid #f0f0f0;
  }
}

.editIcons {
  color: lightgray;
  float: right;
}

.editIcon:hover {
  color: black;
  cursor: pointer;
}