<h3>{{ routeData.title }}</h3>

<div>

    <div class="lined" class="overdue">
        Overdue
    </div>
    <ul class="todolist">
        <li class="task_item">
            <aiTodo *ngFor="let todo of overdue()"
                  [todo]="todo">
            </aiTodo>
        </li>
    </ul>
</div>

<div>
    <div class="lined">Today</div>
    <ul class="todolist">
        <li class="task_item"  *ngFor="let todo of today()" >
            <aiTodo [todo]="todo">
            </aiTodo>
        </li>
    </ul>
</div>

<div *ngIf="routeData.days != 1">
    <div class="lined">{{ routeData.title }}</div>
    <ul class="todolist">
        <li class="task_item"  *ngFor="let todo of inDateRange()" >
            <aiTodo [todo]="todo">
            </aiTodo>
        </li>
    </ul>
</div>