body {
    background-color: #fafafa;
    color: #fff;
}

.clickable {
    cursor: pointer;
}

.circle {
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.date {
    color: #333;
    margin-left: 5px;
    font-size: 11px;
    padding: 1px 0;
    height: 15px;
    display: block;
}

.todos-container {
    background-color: white;
}

.col-md-6 {

    padding-bottom: 100%;
    margin-bottom: -100%;
}

.col-md-3 {
    overflow: hidden;
}