<div id="navTop">
    <ul class="navList">
        <li>
            <span class="glyphicon glyphicon-inbox"></span>
            <span class="padding"></span>
            <span>All <span class="counter" [class.isOverDue]="areAnyOverDue" [class.isCurrent]="isCurrent">2</span></span>
        </li>
        <li>
            <span class="glyphicon glyphicon-inbox"></span>
            <span class="padding"></span>
            <span>Today <span class="counter" [class.isOverDue]="areAnyOverDue" [class.isCurrent]="isCurrent">2</span></span>
        </li>
        <li>
            <span class="glyphicon glyphicon-inbox"></span>
            <span class="padding"></span>
            <span>Next 7 Days <span class="counter" [class.isOverDue]="areAnySevenDaysOverDue" [class.isCurrent]="isCurrent">2</span></span>
        </li>
    </ul>
</div>
<div id="navMenu">
    tabs for projects, labels, filters
</div>
<div id="navProjectList">
    <ul class="projectList">
        <li *ngFor="let project of projects" class="clickable projectListItems">
            <div class="circle" [style.background-color]="project.color"></div>
            <span class="padding"></span>
            <span>{{ project.title }}</span>
        </li>

        <li class="clickable projectListItems">+ Add</li>
    </ul>
</div>