.projectListItems {
  padding: 10px 0 4px;
  .padding {
    padding-left: 4px;
  }
}

.navList {
  list-style-type: none;
  .counter {
    font-size: x-small;
  }
  .isOverDue {
    color: red;
  }
  .current {
    font-weight: bold;
  }
}

.projectList {
  list-style-type: none;
  margin: 0;

  padding: 10px 0 4px;

}